* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-color: rgb(8, 83, 84);
  display: grid;
  place-items: center;
}
.container {
  height: 300px;
  width: 30%;
  display: flex;
  gap: 2px;
}
.container > img {
  width: 20%;
  height: 25rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 5px;
  transition: all ease 0.5s;
}
.container > img:hover {
  width: 100%;
  scale: 1.2;
}
@media screen and (max-width: 480px) {
  .container > img {
  width: 30%;
  height: 20rem;
  aspect-ratio: 0.5/0.5;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 5px;
  transition: all ease 0.5s;

  .container > img:hover {
  width: 100%;
  scale: 1;
}
